

<md-content layout-padding ng-cloak>

<div class="container">
<h2>Add Entry</h2>
    <div class="row">
        <input type="text" ng-model="new.entry_task" placeholder="What did you do?">
    </div>
    <div class="row">
        <select ng-model="new.project_id">
            <option ng-repeat="project in vm.displayProject.list" ng-value="project.id">{{project.project_name}}</option>
        </select>
            <input type="date" ng-model="new.date">
            <input type="time" placeholder="Start Time" ng-model="new.start_time">
            <input type="time" placeholder="End Time" ng-model="new.end_time">
            <button ng-click="vm.postEntry(new)">submit</button>
    </div>
    <div class="row">
        <h2>History ({{filtered.length}})</h2>
        <input type="text" ng-model="query" placeholder="Search"> 
    </div>

    <table>
        <thread>
            <tr>
                <th>Entry</th>
                <th>Project</th>
                <th>Date</th>
                <th>Hours</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="task in vm.entries.list | filter:query | orderBy:'-date' | filter: query as filtered">
                <td>{{task.entry_task}}</td>
                <td>{{task.project_name}}</td>
                <td>{{task.date | date: 'MM-dd-yy'}}</td>
                <td>{{task.hours}}</td>
                <td><button ng-click="vm.deleteTask(task)">delete</button></td>
            </tr>
        </thread>
    </table>

</md-content>
    





        













</div>