<h1>home</h1>


<div class="container">
    <form>
        <h2>Add Entry</h2>
        <div class="row">
            <input type="text" placeholder="What did you do?">
        </div>
        <div class="row">
            <select>
                    <option selected disabled hidden>Projects</option>
                    <option value="time-tracker-project">project</option>
                    <option value="time-tracker-zero">zero</option>
                    <option value="time-tracker-one">one</option>
                    <option value="time-tracker-two">two</option>
                    <option value="time-tracker-three">three</option>
                    <option value="time-tracker-four">four</option>
                </select>
                <input type="date">
                <input type="number" placeholder="Start Time">
                <input type="number" placeholder="End Time">
                <input type="submit">
            </div>
        <h2>History</h2>
        <table>
            <thread>
                <tr>
                    <th>Entry</th>
                    <th>Project</th>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>Populated database</td>
                    <td>Koala Holla</td>
                    <td>5/5/18</td>
                    <td>0.5</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>Populated database</td>
                    <td>Koala Holla</td>
                    <td>5/5/18</td>
                    <td>0.5</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>Populated database</td>
                    <td>Koala Holla</td>
                    <td>5/5/18</td>
                    <td>0.5</td>
                    <td>Delete</td>
                </tr>
            </thread>

        </table>
        







        
    </form>












</div>