<h1>home</h1>


<div class="container">
    <form ng-submit="">
        <h1>Add Entry</h1>
        <div class="row">
            <input type="text" ng-model="" placeholder="What did you do?">
        </div>
        <div class="row">
            <select ng-model="">
                    <option value="" selected disabled hidden>Projects</option>
                    <option value="time-tracker-project">project</option>
                    <option value="time-tracker-zero">zero</option>
                    <option value="time-tracker-one">one</option>
                    <option value="time-tracker-two">two</option>
                    <option value="time-tracker-three">three</option>
                    <option value="time-tracker-four">four</option>
                </select>
                <input type="date">
                <input type="number" placeholder="Start Time">
                <input type="number" placeholder="End Time">
                <input type="submit">
            </div>
        







        
    </form>












</div>