<h1>home</h1>


<div class="container">
    
        <h2>Add Entry</h2>
        <div class="row">
            <input type="text" ng-model="newTask.task_name" placeholder="What did you do?">
        </div>
        <div class="row">
            <select ng-model="newTask.project_id">
                <option ng-repeat="project in vm.listingProject.list" ng-value="project.id">{{project.project_name}}</option>
            </select>
                <input type="date" ng-model="newTask.posting_date">
                <input type="time" placeholder="Start Time" ng-model="newTask.start_at">
                <input type="time" placeholder="End Time" ng-model="newTask.end_at">
                <button ng-click="vm.postTask(newTask)">submit</button>
        </div>
    




    <h2>History</h2>
    <table>
        <thread>
            <tr>
                <th>Entry</th>
                <th>Project</th>
                <th>Date</th>
                <th>Hours</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="task in vm.displayTask.list">
                <td><input type="text" ng-model="task.task_name"></td>
                <td><input type="text" ng-model="task.project_name"></td>
                <td>{{task.posting_date | date}}</td>
                <td>{{task.start_a + task.end_at |date: H:mm}}</td>
                <td><button>delete</button></td>
            </tr>
        </thread>
    </table>
    







        













</div>