

<md-content layout-padding="">
    <h2>Projects ({{filtered.length}})</h2>
        <form name="userForm">
            <div layout-gt-sm="row" layout="center center">
                <div flex>
                    <md-input-container class="md-block" flex-get-sm="">
                        <input type="text" ng-model="newEntryProject.project_name" placeholder="Type a new Project">
                        
                    </md-input-container>
                    <div layout-gt-sm="row">
                            <md-button class="md-accent md-raised" ng-click="vm.postProject(newEntryProject)">add</button>

                    </div>
                </div>
            </div>
        </form> 
</md-content>   





<div layout="row" class "center-div" layout-align="center center">
    <table>
        <thread>
            <tr>
                <th>Project</th>
                <th>Total hours</th>
                <th>Delete</th>
            </tr>
        </thread>
        <tbody>
            <tr ng-repeat="project in vm.displayProject.list | orderBy:'sum' | filter: query as filtered">
                <td>{{project.project_name}}</td>
                <td>{{project.sum}}</td>
                <td><md-button class="md-accent md-raised md-hue-1" style="float: right;" ng-click="vm.deleteProject(project)">delete</md-button></td>
            </tr>
        </tbody>
    </table>
</div>
