<h2>projects</h2>
<div class="container"></div>
    <div class="row">
        <input type="text" ng-model="newEntryProject.project_name" placeholder="Type a new Project">
        <button ng-click="vm.postProject(newEntryProject)">add</button>
    </div> 
    <table>
        <thread>
            <tr>
                <th>Project</th>
                <th>Total hours</th>
                <th>Delete</th>
            </tr>
        </thread>
        <tbody>
            <tr ng-repeat="project in vm.displayProject.list">
                <td>{{project.project_name}}</td>
                <td>{{project.hours}}</td>
                <td><button ng-click="vm.deleteProject(project)">delete</button></td>
            </tr>
        </tbody>
    </table>
</div>